.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.92);
  overflow-x: hidden;
  padding-top: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
#video {
  width: 100%;
  background-color: black;
  z-index: -1;
  height: 100%;
}
#video::cue {
  color: antiquewhite;
  font-family: sans-serif;
  background-color: black;
  font-size: 20px;
}

.menu-button {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 2;
}
.menu-button div {
  background-color: white;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.list {
  overflow: scroll;
  overflow-x: hidden;
  height: 60vh;
  width: 90%;
  top: 10rem;
  position: fixed;
}

.list::-webkit-scrollbar {
  width: 7px;
}

.list::-webkit-scrollbar-thumb {
  background: radial-gradient(#673ab738, #607D8B);
  border-radius: 10px;
}

/* Track */
.list::-webkit-scrollbar-track {
  /*  box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:target {
  background: #b30000;
}

.img-folder-list {
  height: 1.5rem;
  width: 1.5rem;
  background: url(../img/interface.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

.folder-items-list {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.folder-items-list p {
  color: white;
  margin: 0;
  font-size: 14px;
  font-family: arial;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.folder-list {
  height: 73vh;
  width: 90%;
  position: fixed;
  top: 8rem;
  padding-top: 2rem;
  padding-left: 2rem;
}
.folder-list::-webkit-scrollbar {
  width: 7px;
}
.folder-list::-webkit-scrollbar-thumb {
  background: radial-gradient(#673ab738, #607d8b);
  border-radius: 10px;
}
.folder-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.img-folder-grid {
  height: 7rem;
  background: url(../img/interface.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
}

.folder-items-grid {
  margin: 0.5rem;
  cursor: pointer;
  width: 9rem;
  height: 9rem;
}
.folder-items-grid p {
  color: white;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 14px;
  font-family: arial;
  width: 100%;
}

.folder-grid {
  display: flex;
  height: 73vh;
  width: 90%;
  overflow-y: auto;
  flex-wrap: wrap;
  flex-direction: row;
  position: fixed;
  top: 8rem;
  padding-top: 2rem;
  padding-left: 2rem;
}
.folder-grid::-webkit-scrollbar {
  width: 7px;
}
.folder-grid::-webkit-scrollbar-thumb {
  background: radial-gradient(#673ab738, #607d8b);
  border-radius: 10px;
}
.folder-grid::-webkit-scrollbar-track {
  border-radius: 10px;
}

.menu-tab {
  display: flex;
  justify-content: center;
}

.folder-title {
  text-align: center;
  font-size: 30px;
  position: fixed;
  width: 70%;
  top: 2.5rem;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: sans-serif;
}

.list-toggle {
  position: absolute;
  top: 6rem;
  left: 5rem;
  display: flex;
  width: 12rem;
  justify-content: space-between;
}
.list-toggle .view-grid {
  background: url(../img/grid.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  filter: contrast(0.5) invert(0.2);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.list-toggle .view-grid:hover {
  filter: contrast(1) invert(1);
}
.list-toggle .view-grid:active {
  background-size: 2.5rem;
}
.list-toggle .view-list {
  background: url(../img/list.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  filter: contrast(0.5) invert(0.2);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.list-toggle .view-list:hover {
  filter: contrast(1) invert(1);
}
.list-toggle .view-list:active {
  background-size: 2.5rem;
}
.list-toggle .view-add {
  background: url(../img/add.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  filter: contrast(0.5) invert(0.2);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.list-toggle .view-add:hover {
  filter: contrast(1) invert(1);
}
.list-toggle .view-add:active {
  background-size: 2.5rem;
}
.list-toggle .view-back {
  background: url(../img/back.svg);
  background-repeat: no-repeat;
  background-size: 2rem;
  filter: contrast(0.5) invert(0.2);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.list-toggle .view-back:hover {
  filter: contrast(1) invert(1);
}
.list-toggle .view-back:active {
  background-size: 2.5rem;
}

.btn_chapter {
  cursor: pointer;
  padding: 5px;
  font-family: arial;
  width: 60%;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.track_section {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.541);
  margin-top: 12px;
  justify-content: center;
  border-radius: 50px;
  border-style: outset;
  border-color: rgba(255, 127, 80, 0.7);
}
.track_section:hover {
  background-color: gray;
}

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
}

.container {
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
