@import "folder_view_list", "folder_view_grid";

.menu-tab {
    display: flex;
    justify-content: center;
}

.folder-title {
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 70%;
    top: 2.5rem;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: sans-serif;;
}

.list-toggle{
    position: absolute;
    top: 6rem;
    left: 6rem;
    display: flex;
    width: 6rem;
    justify-content: space-between;
    .view-grid{
        background: url(../img/grid.svg);
        background-repeat: no-repeat;
        filter: contrast(0.8) invert(0.8);
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
    .view-list{
        background: url(../img/list.svg);
        background-repeat: no-repeat;
        filter: contrast(0.8) invert(0.8);
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
}

.btn_chapter {
    cursor: pointer;
    padding: 5px;
    font-family: arial;
    width: 60%;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track_section {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.541);
    margin-top: 12px;
    justify-content: center;
    border-radius: 50px;
    border-style: outset;
    border-color: rgb(255, 127, 80,0.7);

    &:hover{
        background-color: gray;
    }
}

