@import 'style-sidenav' , 'style-video','open-close-button', 'style-player-list','tab-menu';

body{
    margin: 0;
    overflow: hidden;
}

.container{
    height: 100vh;
}

.back::before{
    content: "<";
}