@import 'style-sidenav' , 'style-video','open-close-button', 'style-player-list','tab-menu';

body{
    margin: 0;
    overflow: hidden;
    user-select: none;
}

.container{
    height: 100vh;
}

.back{
    width: 4rem;
    position: absolute;
    filter: contrast(1) invert(1);
    margin-left: 2rem;
    cursor: pointer
}